.nav {
  text-align: center;
  align-self: start;
  background-color: rgb(132, 173, 161);
  border-radius: 20px;
}

.item {
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bold;
  font-size: 30px;
}

.item a {
  text-decoration: None;
  color: rgb(85, 84, 84);
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  
}

.item a:hover {
  background-color: rgb(207, 210, 204);
}

.item a.active {
  background-color: rgb(207, 210, 204);
  font-size: 32px;
  color: rgb(77, 77, 77);
}
