.nav {
  text-align: center;
  align-self: start;
}

.item {
  padding-top: 1em;
  padding-bottom: 1em;
  border: solid black 1px;
  border-radius: 50%;
  background-color: aqua;
  width: 100px;
}

.item a {
  color: white;
  text-decoration: none;
}