.app-wrapper {
  display: grid;
  width: 90%;
  margin: auto;
  grid-template-rows: 300px 1fr;
  grid-template-columns: 200px 1fr;
}

.header {
  grid-column: span 2;
  background-color: green;
}

.header img {
  width: 300px;
}

.nav {
  text-align: center;
  background-color: aqua;
  align-self: start;
}

.content {
  background-color: red;
}