.app-wrapper {
  display: grid;
  width: 90%;
  margin: auto;
  grid-template-rows: 100px 1fr;
  grid-template-columns: 200px 1fr 1fr;
  gap: 1em;
}

.app-wrapper-content {
  padding: 20px;
  grid-column: span 2;
  border: solid rgb(211, 209, 207) 15px;
  border-radius: 30px;
}
