.app-wrapper {
  display: grid;
  width: 90%;
  margin: auto;
  grid-template-rows: 150px fr;
  grid-template-columns: 200px 1fr 1fr;
  gap: 1em;
}

.app-wrapper-content {
  background-color: rgb(211, 180, 140);
  grid-column: span 2;
}
