.containerMess {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 1fr;
}

.dialogs {
    border-right: solid 5px rgb(211, 209, 207);
    min-height: 40vh;
}

.dialogs .item {
    color: aqua;
}

.messages {
    padding-left: 5px;
}

.messages .message {
    color: blue;
}
